$light-color: #f4f4f4;
$primary-color: #313a5a;
$secondary-color: #f0950c;
$font-stack: Arial, Helvetica, sans-serif; 


//make function for text-color based on background

@function set-text-color($color){
    @if(lightness($color) > 70%) {
        @return #333;
    } @else {
        @return #fff;
    }
}


//make function for background based on text-color

@mixin set-background-color($color) {
    background-color: $color;
    color: set-text-color($color);
}

//make marign and paddin classes

$spaceamount: (1,2,3,4,5);

@each $space in $spaceamount {
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    .p-#{$space} {
        margin: #{$space}rem;
    }
    .py-#{$space} {
        margin: #{$space}rem 0;
    }
}